
  table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }

  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

@media only screen and (min-width : 400px) {
  th , td{
      max-width: 300px;
  }
}

@media only screen and (min-width : 800px) {
  th , td{
      max-width: 600px;
  }
}

@media only screen and (min-width : 1200px) {
  th , td{
      max-width: 900px;
  }
}